* {
  box-sizing: border-box;
}
.div1 {
  width: 300px;
  height: 300px;

  text-align: center;
  background-color: green;
  color: white;
}
.div2 {
  padding: 10px;
  position: relative;
  border: 10px solid yellow;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  top: 10px;
  left: 10px;
}
.div3 {
  padding: 10px;
  border: 10px solid yellow;
  height: 100%;
}
p {
  position: relative;
  top: calc(50% - 30px);
}
