* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#main {
  display: grid;
  background-color: aqua;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px;
}
.div,
.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div {
  background-color: red;
}
.div1 {
  background-color: blue;
}
