body {
  display: flex;
  justify-content: center;
}
#main {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: 140px 300px 250px;
  grid-gap: 5px;
}
.div {
  grid-column-start: span 3;

  background-color: black;
}
.div1 {
  background-color: orange;
  grid-column-start: span 2;
}
.div2 {
  grid-column-start: span 1;

  background-color: green;
}
.div3 {
  grid-column-start: span 3;

  background-color: blue;
}
