* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div {
  display: inline-block;
}
.main-conntener {
  background-color: aliceblue;
  width: 55%;
  height: 700px;
  margin-left: 20%;
  margin-top: 20px;
}
.Top {
  background-color: orange;
  width: 100%;
  height: 100px;
  padding: 10px;
}
.col1 {
  background-color: rgb(245, 245, 245);
  width: 50%;
  height: 100%;
  padding: 20px;
  overflow-x: hidden;
}
.col2 {
  background-color: rgb(198, 198, 199);
  float: right;
  width: 50%;
  height: 100%;
  padding: 30px;
}
.text {
  margin: 10px;
}
