.main {
  display: inline-block;
  height: 700px;
  width: 60%;
  margin-left: 20%;
}
.top {
  float: top;
  width: 100%;
  background-color: blue;
  height: 100px;
}
.left {
  float: right;
  width: 60%;
  background-color: rgb(192, 191, 191);
  height: 600px;
}
.right {
  width: 40%;
  background-color: rgb(241, 0, 0);
  height: 600px;
  float: left;
}
